/*css starts here*/
/*color background classes*/
.guest{
	background:#b2dc68;
}
.guest_alt {
	background:#e8f2d0;
}
.guest_light {
	background:#f4fae8;
}
.alert {
	background:#d60e50;
}
.default {
	background:#333;
}
.alt {
	background:#b4b4b4;
}
.editor {
	background:#39b4e5;
}
.editor_alt {
	background:#a6ddf3;
}
.author {
	background:#ff8113;
}
.author_alt {
	background:#ffc18c;
}
.reviewer {
	background:#7463dd;
}
.reviewer_alt {
	background:#dbd6f3;
}
.white {
	background:#fff;
}
/*color text classes*/
.guest_text {
	color:#b2dc68;
}
.guest_alt_text {
	color:#c1db91;
}
.guest_light_text {
	color:#f4fae8;
}
.alert_text {
	color:#d60e50;
}
.default_text {
	color:#333 !important;
}
.alt_text {
	color:#b4b4b4;
}
.bright_text {
	color:#fff !important;
}
.editor_text {
	color:#39b4e5;
}
.editor_alt_text {
	color:#a6ddf3;
}
.author_text {
	color:#ff8113;
}
.author_alt_text {
	color:#ffc18c;
}
.reviewer_text {
	color:#7463dd;
}
.reviewer_alt_text {
	color:#dbd6f3;
}
/*color text hover classes*/
.guest_hover:hover {
	color:#b2dc68 !important;
}
.guest_alt_hover:hover {
	color:#c1db91 !important;
}
.guest_light_hover:hover {
	color:#f4fae8 !important;
}
.alert_hover:hover {
	color:#d60e50 !important;
}
.default_hover:hover {
	color:#333 !important;
}
.alt_hover:hover {
	color:#b4b4b4 !important;
}
.bright_hover:hover {
	color:#fff !important;
}
.editor_hover:hover {
	color:#39b4e5 !important;
}
.editor_alt_hover:hover {
	color:#a6ddf3 !important;
}
.author_hover:hover {
	color:#ff8113 !important;
}
.author_alt_hover:hover {
	color:#ffc18c !important;
}
.reviewer_hover:hover {
	color:#7463dd !important;
}
.reviewer_alt_hover:hover {
	color:#dbd6f3 !important;
}
/*global css*/
* {
  box-sizing: border-box;
}
.clear {
  clear: both;
}

#clicks {
	color:#fff;
}
.row.home {
	margin-top:0;
	position:relative;
}
.scrollable {
	height:375px;
	overflow-y:scroll;
	padding-bottom:0;
}
.scrollable_about {
	height:500px;
	overflow-y:scroll;
	padding-bottom:0;
}
.dashscroll {
	height:681px;
	overflow-y:scroll;
	padding-bottom:0;
	padding-left:10%;
}
.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(178,220,104,.75);
    border:solid 6px white;
}
.scrollable_about::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}
.scrollable_about::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(178,220,104,.75);
    border:solid 6px #e8f2d0;
}
.dashscroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
.dashscroll::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color:#b4b4b4;
    border:solid 4px white;
}
.padovd {
	margin:0 -20px 0 -20px;
	padding:0 20px 0 20px;
}
.page {
  margin: 30px auto;
  background-color: #fff;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.75);
  overflow:hidden;
}
.page .smallicon {
	-webkit-filter: invert(70%);
}
.smallicon.noinvert {
	-webkit-filter: invert(0%);
}
.col.set {
	padding-left:1.3rem;
	padding-bottom:0;
	padding-top:0;
}
.pagewidth {
	width:75%;
	max-width:960px;
	margin: 0px auto;
	padding:0;
	overflow:none;
	background:#fff;
}
.toppad {
	padding-top:7%;
}
.padtop {
	margin-top:4%;
}
.dashcontent {
	margin-top:-9%;
}
.dashnav {
	z-index:16;
	position:relative;
}
p.homeinfo {padding-top:3px;}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  color: #333;
  overflow: auto;
}
blockquote {
	margin-left:0;
	margin-right:0;
}
small {
	font-size:10px;
	line-height:5px;
}
.page header {
  text-align: center;
}
.pagewidth header {
	position:fixed;
	top:-3%;
	width:75%;
	max-width:960px;
	z-index:500;
}
.head {
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
}
a.shortcut {
	color:#fff;
	text-decoration:none;
}
.responsive {
	max-width:100%;
}
img.hero {
	position:relative;
	top:0;
	left:0;
	max-width:100%;
	margin-bottom:0;
}
.join {
	position:absolute;
	top:20%;
	left:5%;
	width:140px;
	height:140px;
	cursor:pointer;
	transition:all 0.4s;
	overflow:hidden;
	background:rgba(80,80,80,0.9);
	border-radius:100%;
	border:3px solid #b2dc68;
	color:#fff;
	font-size:25px;
	line-height:40px;
	text-align:center;
	vertical-align:middle;
}
.join a {
	text-decoration:none;
}
.join h3 {
	margin-top:20%;
	font-family:"yellowtail";
	margin-top:23%;
	color:#fff;
}
.join:hover {
	width:200px;
	height:200px;
	font-size:40px;
	line-height:55px;
	-webkit-transform: rotate(360deg); /* Safari */
	    transform: rotate(360deg);
}
.navbar {
	width:100%;
	background-color:rgba(255,255,255,0.95);
	margin:0 auto;
}
.navbar.top {
	background:none;
}
.navbar-brand {
	width:100%;
	margin-top:1.5%;
}
a.logotype {
	font-weight:bold;
	text-decoration:none;
	transition:all 0.2s;
	line-height:17px;
	font-size:13px;
	font-family:Georgia, serif;
}
a.logotype:hover {
	color:#b2dc68;
	transition:all 0.2s;
}
a.active.logotype {
	color:#333;
	font-size:13px;
	line-height: 17px;
}

ul.nav {
	list-style-type:none;
	display:block;
	text-align:center;
}
ul.nav li {
	display:inline;
	margin-right:5%;
}
ul.nav li:last-child {
	margin-right:revert;
}
ul.nav li a {
	text-decoration:none;
	text-transform:uppercase;
	color:black;
	font-size:15px;
	transition:all 0.2s;
	text-align:center;
}
ul.nav li.active a {
	color:#333;
	transition:all 0.2s;
	border-bottom:2px solid #333;
}
ul.nav li.active a:hover {
	color:#333;
}
ul.nav li a:hover {
	color:#b2dc68;
	transition:color 0.2s;
}
.loggedout .navbar ul.nav li:last-child a {
	color:#b2dc68;
}
.loggedout .navbar ul.nav li:last-child a:hover {
	color:#333;
}
.loginbar {
	width:60%;
	background:rgba(255,255,255,0.95);
	padding:20px;
	margin:0 auto;
	float:right;
	overflow:auto;
	clear:right;
}
.logoutbar {
	display:none;
	width:20%;
	background:rgba(255,255,255,0.95);
	padding:10px;
	margin:0 auto;
	float:right;
	overflow:auto;
	clear:right;
}
.loginbar form {
	text-align:center;
}
.loginlink {
	text-align:center;
	text-decoration:none;
	color:#b4b4b4;
}
.loginlink:hover {
	color:#b2dc68;
}
.loginbar form input {
	width:30%;
}
.logo {
	width:75px;
}
.badge {
	display:block;
	width:40px;
	height:40px;
	font-size:30px;
	line-height:40px;
	border-radius:100%;
	text-align:center;
}
.lgdin {
	float:right;
}
.loggedinname {
	margin-top:2%;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}
.lgdin:hover {
	cursor:pointer;
}
.lin {
	text-transform:uppercase;
	display:inline;
}
.lgdin:hover .lin {
	color:#b4b4b4;
}
.badgeinline {
	display:inline-block;
	width:25px;
	height:25px;
	font-size:20px;
	line-height:24px;
	border-radius:100%;
	text-align:center;
	font-weight:bold;
}
.icon {
	width:45px;
}
.smallicon {
	width:40px;
}
button img.smallicon {
	display:block;
	transition:all 0.2s;
}
button:hover img.smallicon {
	-webkit-filter: invert(70%);
	transition:all 0.2s;
}
.searchicon {
	width:25px;
}
p {
  max-width: 700px;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}
.swatch {
  float: left;
  width: 14%;
  margin: 0 2% 0 0;
  text-align: center;
  border-radius: 20px;
  height:55px;
  transition:height 0.4s;
  font-weight:600;
}
.swatch:hover{
	height:100px;
	transition:height 0.4s;
}
.swatch .hide {
	font-weight:normal;
	opacity:0;
	transition:opacity 0.4s;
}
.swatch:hover .hide {
	opacity:1;
	transition:opacity 0.4s ease-in;
}
footer {
  text-align: center;
  font: serif;
  margin:-10px;
  padding:10px;
  }

footer p {
  max-width: none;
}

.centered {
	text-align:center;
}

.centerbtn {
	margin-bottom: 20px;
	position:relative;
	left: 35%;
	}
.input {
	display:inline-block;
	color:#333333;
	font-size:12px;
}
.settingsright .input {
	width:40%;
}
div.box_guest.guest_alt.account {
	padding-left:20%;
}
.account input {
	display:inline-block;
	margin-bottom:15px;
}
.account label {
	font-size:12px;
	width:120px;
	display:inline-block;
}
.account button {
	position:relative;
	left:62.5%;
	margin-bottom:20px;
}
.settingsright button {
	position:relative;
	margin-top:20px;
	left:85%;
}
input.regular,
textarea.regular {
    border-radius: 8px;
	width: 200px;
	padding: 4px;
	border: 1px solid #b4b4b4;
	outline: none;
	resize:none;
}
input.short {
	width:90px;
}

button {
	color:#fff;
	font-weight:600;
	font-size:12px;
	text-transform:uppercase;
	padding:6px;
	border:none;
	border-radius:6px;
	cursor:pointer;
	transition:color 0.2s;
}
button:hover {
	color:#333;
	transition:color 0.2s;
}
button.buttonform {
	float:right;
	margin-right:5%;
	margin-top:2.5%;
}
button.pdf {
	width:75px;
	margin-bottom: 20px;
}
button.pdf img {
	width:30px;
	display:block;
	margin:0 auto;
}
button.inlinepdf {
	width:75px;
	margin-bottom:20px;
	display:inline-block;
}
button.inlinepdf img {
	width:30px;
	display:block;
	margin:0 auto;
}
#badgebutton {
	display:block;
}
.headerlarge {
	width:100%;
}
.headersmall {
	width:100%;
}
.bodyimages {
	border-radius:20px;
}
.arrow_box {
	position: relative;
	background: #ffc18c;
	border-radius:10px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-top-color: #ffc18c;
	border-width: 36px;
	margin-left: -200px;
}
.arrow_box5 {
	position: relative;
	background: #ffc18c;
	border-radius:10px;
}
.arrow_box5:after, .arrow_box5:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box5:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box5:before {
	border-top-color: #a6ddf3;
	border-width: 36px;
	margin-left: -60px;
}
.arrow_box6 {
	position: relative;
	background: #ffc18c;
	border-radius:10px;
}
.arrow_box6:after, .arrow_box6:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box6:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box6:before {
	border-top-color: #a6ddf3;
	border-width: 36px;
	margin-left: 75px;
}
.guest_alt.arrow_box:before {
	border-top-color:#e8f2d0;
}
.reviewer_alt.arrow_box:before {
	border-top-color:#dbd6f3;
}
/* containers */

.container {
  margin: 0;
  width: 100%;
}

.row {
  margin: 1.0rem 0 0 0;
  padding: 0;
}
.flush {
	margin:0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 100%;
}

.gutter > .col {
  margin-bottom: 1.0rem;
}

.gutter > .col:last-child {
  margin-bottom: 0;
}

.col {
  padding: 1.0rem;
}

.colbg {
	border-radius:20px;
}
.colbg h4 {
	text-align:center;
}
.nomargin {
	margin-right:0;
}
input.inputForm {
	font-size:14px;
    width:90%;
	display:block;
	margin:0 auto;
	margin-bottom:1rem;
	border:none;
}
.box textarea,
.boxnoheight textarea {
	border-radius:8px;
	font-size:14px;
	width:90%;
	display:block;
	border:none;
	outline:none;
	resize:none;
	margin:0 auto;
}
.boxnoheight h3 {
	margin-left:20px;
	}
.footerleft {
	text-align: left;
	font-family: Georgia, serif;
	padding:0 1rem 0 1rem;
}
.footerleft a {
	text-decoration:none;
	color:white;
	transition:color 0.2s;
}
.footerleft a:hover {
	color:#333;
	transition:color 0.2s;
}
.footerleft a:hover img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-transition: .5s; /* Safari */
	    transition: .5s;
}
.footerleft a img {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
.footerright {
	text-align: right;
	color:#fff;
	padding:0 1rem 0 1rem;
}
.footericon {
	width:30px;
	float:left;
	margin:10px;
}
.boxed {
	color:#09F;
	border:1px solid #b4b4b4;
	padding: 4px;
}
.howtohidden {
	display:none;
}
.howto ul li {
	margin-right:0;
}
.howto ul li a {
	color:#b4b4b4;
	font-size: 14px;
	text-transform:none;
}
.howto ul li.active a {
	border-bottom:none;
}
.howto ul li a:hover {
	color:#b2dc68;
}
.howto li a {
	border-right:1px solid #b4b4b4;
	text-align:center;
	padding-left:3%;
	padding-right:3%;
}
.howto li:last-child a {
	border-right:none;
}

/*popup css*/

.checks {
	text-align:center;
}

.boxround.editor_alt {
	padding:5px;
	margin-bottom:5px;
}
.col:last-child {margin-right:0;}

.popup {
	margin: 30px auto;
	background-color: #fff;
	padding-top:1px;
	padding-bottom:20px;
	padding-left: 20px;
	width: 80%;
	max-width: 600px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.75);
	z-index:10000;
}
.popup2 {
	margin: 30px auto;
	background-color: #fff;
	padding-top:1px;
	padding-bottom:20px;
	padding-left: 20px;
	padding-right:20px;
	width: 80%;
	max-width: 800px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.75);
	z-index:9999;
}
.successpopup {
	margin: 30px auto;
	background-color: #fff;
	padding-top: 1px;
	padding-left: 20px;
	padding-right:20px;
	width: 80%;
	max-width: 550px;
	height: 340px;
	border-radius: 20px;
	box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.75);
	z-index:9999;
}

.popup.hidden,
.popup2.hidden,
.successpopup.hidden {
	position:fixed;
	width:80%;
	top:70vh;
	left:55vw;
	margin:-25% 0 0 -25%;
	display:none;
}

.popup2.hidden {
	left:50vw;
}
.path2 {
	cursor:pointer;
}
.overlay {
	position: fixed;
	height:100vh;
	width:100vw;
	top:0px;
	left:0px;
	background:rgba(0, 0, 0, 0.4);
	display:none;
	z-index:998;
	}
.insidebox {
	background-color: #fff;
	padding-top: 2px;
	padding-left: 10px;
	margin: 0px auto;
	width: 75%;
	border-radius: 10px;
	max-width: 100%;
	height:220px;
	overflow-y:scroll;
}

.closeicon {
	float: right;
	width:20px;
	margin: 10px;
	cursor:pointer;
	}

.alerttext {
	width: 60%;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	line-height: 25px;
}

.articleheading {
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:2px;
	text-align:left;
	margin-top:10px;
}

.articlesummary {
	font-size:10px;
	margin-top:0px;
	margin-bottom: 8px;
	line-height: 12px;
	text-align:left;
}

.articledate {
	font-size:10px;
	margin-top:0px;
	margin-bottom: 20px;
	line-height: 12px;
	text-align:left;
}

.docicons {
	width:40px;
	float:left;
	margin-top:0px;
	margin-right: 15px;
	clear:both;
}

.dociconstop {
	width:40px;
	float:left;
	margin-top:10px;
	margin-right: 15px;
	clear:both;
}

/*content frames and dashboard nav*/
.frame1 {
	width:100%;
	height:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin-bottom:0px;
}

.frame2 {
	width:100%;
	height:60px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin-bottom:40px;
}

.dashboardnav ul {
	margin:0;
	padding:0;
}

.dashboardnav ul li{
	list-style-type:none;
}

.dashboardnav ul li {
	text-decoration:none;
	color:#fff;
	font-size:20px;
	height:50px;
	font-weight:bold;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	text-align:center;
	overflow:hidden;
	margin-top:30px;
	transition:all 0.2s;
	opacity:0.90;
}
.dashboardnav ul li.active {
	margin-top:0px;
	height:80px;
	transition:all 0.2s;
	opacity:1.0;
}
.dashboardnav ul li a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	transition:all 0.2s;
}
.dashboardnav ul li a:hover {
	color:#333;
	transition:all 0.2s;
}
.homeicon {
	background-color:#7463dd;
	background-color:#b2dc68;
	text-decoration:none;
	display:block;
	width:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	text-align:center;
}
.homeicon img {
	width:80%;
	min-width:25px;
	margin-top:-20%;
	transition:all 0.2s;
}
.homeicon img:hover {
	-webkit-filter: invert(70%);
	transition:all 0.2s;
}
/*search bar*/
.searchdiv {
	width:100%;
	position:relative;
}
.search-container {
	position:absolute;
	top:30px;
	right:0px;
}
.search-box {
  -webkit-transition: width 0.4s, border-radius 0.4s, background 0.4s, box-shadow 0.4s;
  transition: width 0.4s, border-radius 0.4s, background 0.4s, box-shadow 0.4s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background:none;
}
.search-box + label .search-icon {
  color:#b4b4b4;
  transition:color 0.4s;
}
.search-box:hover {
  color: #333;
  background: #f4fae8;
  box-shadow: 0 0 0 1px #b2dc68;
}
.search-box:hover + label .search-icon {
  color: #333;
  transition:color 0.4s;
}
.search-box:focus {
  -webkit-transition: width 0.4s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.4s, background 0.4s;
  transition: width 0.4s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.4s, background 0.4s;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #b2dc68;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: 15px;
  background: #f4fae8;
  color: black;
}
.search-box:focus + label .search-icon {
  color: #333;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}



.search-icon {
  position: relative;
  left: -32px;
  color: white;
  cursor: pointer;
}

/* Checkboxes */

/* Dropdown */
select {
	font-size:14px;
    border-radius: 8px 8px;
	width: 200px;
	padding: 8px;
	border: 1px solid #b4b4b4;
	background-color:#fff;
	outline: none;
    position: relative;
    display: inline-block;
}
.searchdrop {
	padding:0px;
	border-radius: 0px 0px 0px 10px;
	border:1px solid #b4b4b4;
	border-right:none;
	float:right;
	background:rgba(255,255,255,0.95);
}
.loggedout .searchdrop {
	display:none;
}
.searchresult {
	border-bottom:1px solid #b4b4b4;
	padding-left:20%;
	padding-right:10%;
}
.searchresult:last-child {
	border:none;
}
.result {
	float:left;
	margin-left:-25%;
	display:inline-block;
	width:40px;
	height:40px;
	font-size:20px;
	line-height:40px;
	border-radius:100%;
	text-align:center;
	font-weight:bold;
}
/* molecules start */

/* notifications */

.side {
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 0px 0px 0px;
}
.side.white {
	border-left:1px solid #999;
}

.notificationicons {
	width:40px;
	float:left;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:25px
}

.corner {
	width:100%;
	height:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 0px 0px 0px;
	margin-bottom:10px;
}

.corner {
	width:100%;
	height:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 0px 0px 0px;
	margin-bottom:10px;
}

.tall {
	width:100%;
	height:60px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin-bottom:0px;
}

.title {
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	margin-top:0px;
	letter-spacing: .3px;
	font-size:18px;
	padding-top:2px;
	margin-bottom:0px;
}

.titledouble {
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	margin-top:0px;
	letter-spacing: .3px;
	font-size:18px;
	padding-top:5px;
	margin-bottom:0px;
}

.titlesmall {
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	margin-top:0px;
	letter-spacing: .3px;
	font-size:13px;
	padding-top:5px;
	margin-bottom:0px;
}
.title2 {
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	margin-top:0px;
	letter-spacing: .3px;
	font-size:18px;
	margin-top:-10px;
}

.subhead {
	color:#FFFFFF;
	font-size:15px;
	text-align:center;
	margin-top:0px;
	letter-spacing:.3px;
}

.heading {
	line-height:14px;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:8px;
}

.searchheading {
	line-height:14px;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:8px;
}

.time {
	color:#b4b4b4;
	text-align:center;
	text-transform:uppercase;
	margin-top:5px;
	font-size:9px;
	margin-bottom: 25px;
}

.homedate {
	margin-top:15px;
}

sup {
   vertical-align: baseline;
   position: relative;
   top: -4px;
}

.headingsummary {
	text-transform:uppercase;
	font-size:10px;
	margin-left:50px;
	margin-top:0px;
	line-height: 12px;
}

.searchsummary {
	font-size:10px;
	margin-top:0px;
	line-height: 12px;
}

.deadline {
	font-size:16px;
	padding-right:15px;
	padding-left:15px;
	margin-bottom:0px;
	margin-top:0px;
}

.deadlinedate {
	color:#d60e50;
	padding-right:15px;
	padding-left:15px;
	margin-top:0px;
	font-size:12px;
	margin-bottom: 5px;
}

.smallparagraph {
	font-size:10px;
	padding-right:15px;
	padding-left:15px;
	line-height: 15px;
}
  ul {
	  list-style-type: none;
	  padding:0;
  }
  .side_nav {
	  padding:0 0 2% 0;
	  margin:0;
  }
  .side_nav li {
	  text-align:center;
  }
  .side_nav li a {
	  text-decoration:none;
	  color:#333;
	  transition:all 0.2s;
  }
  .side_nav li a:hover {
	  color:#b4b4b4;
	  transition:all 0.2s;
  }
  .side_nav li.active a {
	  color:#b2dc68;
  }
  object.pdfviewer {
	  display:block;
	  margin:0 auto;
	  text-align:center;
	  padding:0;
	  width:90%;
	  height:452px;
  }
  /* columns */

.medium {
	width:100%;
	height:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin-bottom:10px;
}

.box {
	min-height:370px;
	margin-top:0px;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 10px 10px;
	padding-top:20px;
}
.boxnoheight {
	margin-top:0px;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 10px 10px;
	padding-top:20px;
}
.boxnoheight h3:first-child {
	margin-top:0;
}
.boxauthor {
	margin-top:0px;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 10px 10px;
	padding:10px;
}
.boxround {
	height:260px;
	margin-top:0px;
	-webkit-border-radius: 0px 20px 20px 20px;
	-moz-border-radius: 0px 20px 20px 20px;
	border-radius: 0px 10px 10px 10px;
	padding-top:20px;
}
.boxset {
	width:95%;
	height:225px;
	margin-top:0px;
	-webkit-border-radius: 0px 20px 20px 20px;
	-moz-border-radius: 0px 20px 20px 20px;
	border-radius: 0px 10px 10px 10px;
	padding-top:20px;
	margin-bottom:20px;
}
.boxset.author_alt {
	height:270px;
}
.boxsmall {
	height:150px;
	margin-top:0px;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 10px 10px;
}
.path a {
	text-decoration:none;
}
img.settingstab {
	width:60%;
	margin:0 auto;
	padding-top:25%;
	display:block;
}
.author img.settingstab {
	padding-top:10%;
}
.reviewer img.settingstab {
	padding-top:15%;
}
.box_guest {
	padding:20px;
	margin-top:0px;
	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 10px 10px;
}

.frames {
	width: 100%;
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.settingsframes {
	width: 100%;
	padding-top:0px;
	padding-right:0px;
	padding-left:2.5%;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.settingsframes .seticons {
	float:right;
	margin-right:12.25%;
	margin-top:-10px;
}
.seticons img.icon {
	padding:3px;
	margin-left:-3px;
	margin-right:-2px;
}
.framesfloatright {
	width: 100%;
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.roundcorner {
	width:100%;
	height:30px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.roundcornersettings {
	width:15%;
	height:40px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.sidecorners {
	width:20%;
	height:220px;
	float:right;
	margin-top:-2px;
	padding-top:2px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 0px 10px 0px 0px;
}
.editorlinks {
	margin-top:-20px;
	padding:20px;
}

.editorlinks p {
	color:#fff;
}

.howtoboxes p {
	margin-top:-20px;
	color:#fff;
	padding:20px;
	line-height: 25px;
	font-size: 16px;
	margin-bottom:0px;
}

.abouttext {
	line-height: 25px;
	margin-top:0px;
	font-size: 16px;
}

.abouttextlink {
	line-height: 25px;
	margin-top:0px;
	font-size: 16px;
}

.editordash {
	font-size:18px;
	margin-top:0px;
	color:#fff;
	font-weight:bold;
	text-align:left;
	line-height:30px;
	margin-bottom:15px;
	text-transform:uppercase;
}
.editorcontent1 {
	color:#fff;
	font-size:16px;
	padding-left:20px;
	line-height: 20px;
	transition:all 0.2s;
}
.editorcontent1:hover {
	color:#333;
	cursor:pointer;
	transition:all 0.2s;
}
.editorcontent2 {
	color:#fff;
	font-size:16px;
	padding-left:20px;
	line-height: 20px;
	transition:all 0.2s;
}
.authorheadingstop {
	font-size:18px;
	margin-top:0px;
	color:#fff;
	font-weight:bold;
	text-align:left;
	line-height:30px;
	margin-bottom:0px;
	text-transform:uppercase;
}

.authorheadings {
	font-size:18px;
	margin-top:20px;
	color:#fff;
	font-weight:bold;
	text-align:left;
	line-height:30px;
	margin-bottom:0px;
	text-transform:uppercase;
}

.authorcontent0 {
	color:#fff;
	font-size:12px;
	display:inline;
	padding-right:10px;
	line-height: 20px;
}

.authorcontent1 {
	color:#fff;
	font-size:12px;
	display:inline;
	padding-right:10px;
	line-height: 40px;
}

.authorcontent2 {
	color:#fff;
	font-size:12px;
	display:inline;
	padding-right:10px;
	line-height: 40px;
}

.authorcontent3 {
	color:#fff;
	font-size:12px;
	display:inline;
	padding-right:10px;
}

.reviewcontent {
	color:#fff;
	font-size:14px;
	margin-bottom:10px;
	margin-top:0px;
	line-height:22px;
}

.reviewbutton {
	margin-bottom:20px;
}

.reviewdate {
	color:#fff;
	font-size:12px;
	margin-bottom:10px;
	margin-top:0px;
	font-weight:bold;
	line-height:15px;
}

.headlines {
	margin-bottom:-20px;
}

.headparagraph {
	margin-top:-5px;
	margin-bottom:30px;
	line-height: 25px;
	font-size: 16px;
}

.settingsdash {
	font-size:14px;
	margin-top:0px;
	padding:0px 20px 0 20px;
	color:#fff;
	margin-bottom:0px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:30px;
}
.reviewdashnum {
	font-size:80px;
	line-height:10px;
	margin-top:0px;
	margin-bottom:40px;
	padding:50px 0 0 0;
	color:#fff;
	font-weight:bold;
	text-align:center;
	transition:all 0.2s;
}
span.fit {
	width:49%;
	display:inline-block;
	margin:0;
	padding:0;
}
.managingnumber {
	font-size:50px;
	line-height:10px;
	margin-top:0px;
	margin-bottom:40px;
	padding:20px 0 0 0;
	color:#fff;
	font-weight:bold;
	text-align:center;
	transition:all 0.2s;
}
.managingunder {
	font-size:20px;
	margin-top:0px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-bottom:15px;
	text-transform: uppercase;
	transition:all 0.2s;
}
.reviewdash {
	font-size:25px;
	margin-top:0px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-bottom:15px;
	text-transform: uppercase;
	transition:all 0.2s;
}
#rev:hover .reviewdash,
#rev:hover .reviewdashnum {
	color:#333;
	transition:all 0.2s;
}
.guesttext {
	padding:10px 20px 0 20px;
	font-size:12px;
	line-height: 16px;
}

.guestheader {
	margin-bottom:0px;
	font-size:16px;
}

.bullets li {
	padding:10px 20px 0 0;
	font-size:12px;
	line-height: 16px;
}

ul.bullets li {
	list-style-type: disc;
	list-style-position:outside;
	margin-left: 18px;
	font-size:16px;
	line-height: 25px;
}

ul.bullets {
	margin-top:0px;
}

li {
	 color: #b2dc68
}

li span {
	color:black;
}

.conference_images {
	width:100%;
	-webkit-border-radius:
	10px;-moz-border-radius:
	10px;border-radius: 10px;
}

a.link {
	text-decoration:none;
	color:#333;
	transition:all .2s;
	color:#b2dc68;
}

a.link:hover {
	color:#333333;
	transition:all .2s;
}

.image_caption {
	font-size:10px;
	margin-top:0px;
	letter-spacing:.2px;
	margin-bottom: 40px;
	margin-left: 10px;
}

.vr {
	border-right:1px solid #b4b4b4;
}

.titlenobox {
	color:#ff8113;
	margin-bottom:0px;
	margin-top:0px;
}

.noboxsecondary {
	color:#ff8113;
	margin-top:0px;
	font-size:12px;
	margin-bottom:20px;
}

.boxsecondary {
	color:#fff;
	font-size:12px;
	margin-bottom:20px;
	margin-top:0px;
	line-height:15px;
}

progress {
	width:50%;
	height:18px;
	-webkit-appearance:none;
	border:none;
	float:left;
	margin-top:10%;
	margin-left:5%;
}
form.archivesearch {
	text-align:center;
}
form.archivesearch input {
	width:85%;
	margin: 10px;
}

form.submitform {
	text-align:left;
}

form.submitform input, form.submitform textarea {
	width:85%;
	margin: 10px 10px 10px 0px;
}

.buttonmargin {
	margin:0 6% 0 6%;
}

progress::-webkit-progress-bar {
	background: white;
	border-radius: 8px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 8px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ffc18c, #ff8113);

	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 4s linear 0 infinite;
}
@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

.authordash {
	font-size:15px;
	margin-top:0px;
	padding:0px 20px 0 20px;
	color:#fff;
	margin-bottom:0px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:right;
}

.percent {
	font-size:50px;
	text-align:right;
}

.innerboxtop {
	background-color:white;
	height:150px;
	margin:0px 20px 20px 20px;
}

.innerboxbottom {
	background-color:white;
	height:150px;
	margin:0px 20px 20px 20px;
	padding-top:50px;
}

a img.smallicon:hover {
	opacity:0.5;
	transition:opacity 0.2s;
}

a img.smallicon,
a img:hover{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  backface-visibility:     hidden;
}
.nopadding {
  padding:0;
}
/* checkbox */
.jcf-checkbox {
	border-radius: 4px 4px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background-color:#fff;
	border: 1px solid #777;
	margin: 0 3px 0 12px;
	height: 20px;
	width: 20px;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:8px;
	width:10px;
	top:45%;
	left:55%;
	margin:-7px 0 0 -6px;
	border:3px solid #777;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {margin:-4px 0 0 -5px;}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}

/* button */

.jcf-button .jcf-real-element {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	outline: none;
}

/* file */
.jcf-file {
	display: inline-block;
	white-space: nowrap;
	border-radius:8px 8px;
	position: relative;
	overflow: hidden;
	color:#fff;
	 font-family: "Titillium Web", helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-weight:700;
}
.jcf-file .jcf-real-element {
	position: absolute;
	border-radius:8px 8px;
	font-size: 200px;
	height: 200px;
	margin: 0;
	right: 0;
	top: 0;
}
.jcf-file .jcf-fake-input {
	display: inline-block;
	text-overflow:ellipsis;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
	border: 1px solid #777;
	border-radius:8px 8px;
	padding: 0 8px;
	font-size: 13px;
	line-height: 28px;
	height: 28px;
	width: 125px;
	background: #ff8113;
	text-align:center;
	cursor:pointer;
}
.jcf-file .jcf-upload-button {
	display: inline-block;
	border-radius: 8px 8px;
	vertical-align: top;
	white-space: normal;
	overflow: hidden;
	border: 1px solid #777;
	margin: 0 0 0 8px;
	padding: 0 10px;
	line-height: 28px;
	height: 28px;
	background: #ff8113;
	cursor:pointer;
}

/* select */
.jcf-select {
	border-radius: 8px 8px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #000;
	background-color:#fff;
	margin: 0 0 12px;
	min-width: 150px;
	height: 26px;
}
.jcf-select select, {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 13px;
	line-height: 26px;
	margin: 0 35px 0 8px;
}
.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	border-radius:0px 6px 6px 0px;
	background-color:#fff;
	width: 26px;
	color:#d60e50;
	bottom: 0;
	right: 0;
	top: 0;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}
.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-select.jcf-compact-multiple {
	max-width: 220px;
}
.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
	display: inline-block;
	padding-top: 2px;
	content: '...';
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #cdcdcd;
}
.jcf-select-drop.jcf-compact-multiple .jcf-hover {
	background: none;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
	display: inline-block;
	content: '';
	height:4px;
	width:8px;
	margin:-7px 5px 0 -3px;
	border:3px solid #777;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}

/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}
.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	min-height: 14px;
	height: 1%;
}
.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}


/* molecules end */


/*regular css ends here*/
@media (max-width:596px) {
  .page {
    width: 95%;
  }
  .pagewidth {
	  width:100%;
	  padding-bottom:10%;
  }
  .pagewidth header {
	  width:100%;
  }
  .pagewidth header .navbar .col {
	  padding:0.25rem;
  }
  .pagewidth header ul.nav {
	  position:fixed;
	  bottom:-3%;
	  background:rgba(180,180,180,0.95);
  }
  .pagewidth header ul.nav li a {
	  color:#fff;
  }
  .pagewidth header ul.nav li.active a {
	  color:#333;
  }
  .search-container {
	  top:20%;
  }
  .join {
	top:40%;
  	width:70px;
  	height:70px;
  	border:2px solid #b2dc68;
  	font-size:15px;
  	line-height:20px;
  }
  .join h3 {
  	margin-top:25%;
  }
  .join:hover {
  	transition:all 0.3s linear;
  	width:100px;
  	height:100px;
  	font-size:22px;
  	line-height:27px;
  }
  p {
	  font-size:10px;
  }
  .nomargin {
	  width:25%;
  }
  .dashboardnav ul li {
	  font-size:14px;
  }
  .dashcontent {
	  margin-top:0%;
  }
  .responsive {
	  max-width:100%;
  }
  .padtop {
	  margin-top:2%;
  }
  .loggedinname {
	  float:none;
	  position:absolute;
	  left:60%;
  }
  .homeicon {
	  width:15%;
	  margin-right:10%;
  }
  .nomobile {
	  display:none;
  }
  .homeicon img {
	  width:90%;
	  margin-top:-10%;
  }
  .swatch {
	  height:35px;
  }
  .swatch:hover {
	  height:60px;
  }
  .footerleft, .footerright {
	  text-align:center;
	  padding:0;
  }
  .footericon {
	  float:none;
  }
  ul.nav {
	  width:100%;
  }
  .navbar {
	  position:relative;
  }
  .searchdiv {
	  position:static;
  }
  .loginbar {
	  width:100%;
	  float:none;
	  position:fixed;
	  bottom:6.25%;
	  background:rgba(180,180,180,0.95);
  }
  a.loginlink p{
	  color:#b2dc68;
	  font-size:16px;
  }
  .popup.hidden,
  .popup2.hidden,
  .successpopup.hidden {
  	position:fixed;
  	width:80%;
  	top:35%;
	left:35%;
  	margin:-25% 0 0 -25%;
  	display:none;
  }
}

.dates {
	line-height:40px;
	font-weight:400;
	margin-top:0px;
	margin-bottom:10px;
}

.datesdouble {
	line-height:25px;
	font-weight:400;
	margin-top:0px;
	margin-bottom:0px;
}

.todo {
	line-height: 25px;
	margin-bottom: 10px;
}

.content.mainpage {
	background-image: url ("../images/grey.jpg");
	background-repeat:repeat;
}
.content.padded {
	padding:1.0rem;
}


/*responsive css begins here*/
@media only screen and (min-width:768px) {
  /* tablet portrait */
  .gutter > .col {
    margin-left: 2%;
  }
  .gutter > .col:first-child,
  .gutter > .col.s12 {
    margin-left: 0;
  }
  .contentwidth {
	  padding-left:1%;
  }
  .col.s1 {
    width:10%;
  }
  .col.s2 {
    width: 20%;
  }
  .col.s3 {
    width: 30%;
  }
  .col.s4 {
    width: 40%;
  }
  .col.s5 {
    width: 50%;
  }
  .col.s6 {
    width: 60%;
  }
  .col.s7 {
    width: 70%;
  }
  .col.s8 {
    width: 80%;
  }
  .col.s9 {
    width: 90%;
  }
  .col.s10 {
    width: 100%;
  }

  .gutter .col.s1 {
    width: 6.5%;
  }
  .gutter .col.s2 {
    width: 15%;
  }
  .gutter .col.s3 {
    width: 23.5%;
  }
  .gutter .col.s4 {
    width: 32%;
  }
  .gutter .col.s5 {
    width: 40.5%;
  }
  .gutter .col.s6 {
    width: 49%;
  }
  .gutter .col.s7 {
    width: 57.5%;
  }
  .gutter .col.s8 {
    width: 66%;
  }
  .gutter .col.s9 {
    width: 74.5%;
  }
  .gutter .col.s10 {
    width: 83%;
  }
}

@media only screen and (min-width:1024px) {
  /* tablet landscape, medium screen */
  .col.m1 {
    width: 10%;
  }
  .col.m2 {
    width: 20%;
  }
  .col.m3 {
    width: 30%;
  }
  .col.m4 {
    width: 40%;
  }
  .col.m5 {
    width: 50%;
  }
  .col.m6 {
    width: 60%;
  }
  .col.m7 {
    width: 70%;
  }
  .col.m8 {
    width: 80%;
  }
  .col.m9 {
    width: 90%;
  }
  .col.m10 {
    width: 100%;
  }

  .gutter .col.m1 {
    width: 8%;
  }
  .gutter .col.m2 {
    width: 18%;
  }
  .gutter .col.m3 {
    width: 28%;
  }
  .gutter .col.m4 {
    width: 38%;
  }
  .gutter .col.m5 {
    width: 48%;
  }
  .gutter .col.m6 {
    width: 58%;
  }
  .gutter .col.m7 {
    width: 68%;
  }
  .gutter .col.m8 {
    width: 78%;
  }
  .gutter .col.m9 {
    width: 88%;
  }
  .gutter .col.m10 {
    width:98%;
  }

}

@media only screen and (min-width:1240px) {
  /* large screen */
  .container {
    margin: 0 auto;
    width: 1200px;
  }
}
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFileLabel {
	color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.2s;
	background: #ff8113;
	}

.inputFileLabel:focus,
.inputFileLabel:hover {
	color: #333;
    transition: color 0.2s;
}
.inputFileLabel {
	cursor: pointer;
}


.side p, li {
	padding-left: 10px;
}

.editorTable .editorTitle {
	width:60px;
}
.editorTable .editorName, .editorAction {
	width:50px;
}
.editorTable .authorName, .reviewerName {
	width:100px;
}
.editorTable .subStatus, .subDate {
	width: 100px;
}

.editorTable th, td {
	font-size: 10px;
	text-align: left;
	padding-left: 40px;
}

.editorTable th:first-of-type, td:first-of-type {
	padding-left: 0px;
}
